@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*
.main{
    position: fixed;
    width: 100%;
    height: 100%;
}
*/
.back {
    background: url('https://api.iconify.design/icon-park-solid/back.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/icon-park-solid/back.svg?color=white');
    height: 27px;
    width: 40px;
    border: none;
}

.bar {
    background-color: #00E167;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-button{
    flex: auto;
}

.bar-text{
    flex: auto;
    margin: auto;
}

.java-logo{
    background: url('https://api.iconify.design/devicon/java.svg?color=white') no-repeat center center / contain;
    content: url('https://api.iconify.design/devicon/java.svg?color=white');
}

.question-bank-div{
    text-align: center;
}

.question-win{
    margin: 100px 100px 0px 100px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.techbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tech-box{
    display: flex;

    margin: 0px;
    padding: 0px;
}

.gap{
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: #00E167;
  padding: 10px;
  font-weight: bold;
  color: white;
  width: 100%; /* Adjusted width for responsiveness */
  justify-content: space-around; /* To evenly distribute buttons */
}

.box:active{
  background-color: #00b451;
}

.question-box-item{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid black;
}

.question-box{
    overflow-y: auto;
    height: 223px;
}

.q{
    border: none;
    width: 20px;
    height: 20px;

    align-items: end;
}
.q.del{
    background: url('https://api.iconify.design/material-symbols-light/delete.svg?color=maroon') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols-light/delete.svg?color=maroon');
}

.q.open{
    background: url('https://api.iconify.design/majesticons/open-line.svg') no-repeat center center / contain;
    content: url('https://api.iconify.design/majesticons/open-line.svg');
}

.q.edit{
    background: url('https://api.iconify.design/tabler/edit.svg?color=green') no-repeat center center / contain;
    content: url('https://api.iconify.design/tabler/edit.svg?color=green');
}

.rear{
    display: flex;
    justify-content: flex-end;
    margin: 20px 110px 0px 0px;
}
#generate{
    border: none;
    color: white;
    background-color: #00E167;
    cursor: pointer;
    padding: 10px;
}
#generate:disabled{
    border: none;
    color: white;
    background-color: gray;
    cursor: not-allowed;
    padding: 10px;
}

button:active{
    transform: translateY(1px);
}

/* Styles for the popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the popup content */
  .popup-content {
    background-color: white;
    text-align: justify;
    width: 400px;
    height: 210px;
  }
  .pop-sub-content{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    width: 100%;
  }

  .pop-text{
    padding: 10px;
    margin: 10px;
  }

  .pop-text2{
    align-items: center;
    margin: 5px 0px 25px 0px;
    width: 300px;
    padding: 5px;
  }

  #email-button{
    border: none;
    background-color: #00E167;
    color: white;
    padding: 8px;
  }
  
  /* Close button style */
  .close {
    background: url('https://api.iconify.design/zondicons/close-outline.svg?color=crimson') no-repeat center center / contain;
    content: url('https://api.iconify.design/zondicons/close-outline.svg?color=crimson');
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

  .pop-wind{
    text-align: center;
  }

  .pop-bar {
    background-color: #00E167;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt {
  padding: 8px;
  margin-right: 5px; /* Adding margin between icon and text */
}


#opt-1{
  background: url('https://api.iconify.design/simple-icons/python.svg?color=white') no-repeat center center / contain;
  content: url('https://api.iconify.design/simple-icons/python.svg?color=white');
}

#opt-2{
  background: url('https://api.iconify.design/iconoir/database.svg?color=white') no-repeat center center / contain;
  content: url('https://api.iconify.design/iconoir/database.svg?color=white');
}

#opt-3{
  background: url('https://api.iconify.design/devicon/java.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/devicon/java.svg');
}

#opt-4{
  background: url('https://api.iconify.design/devicon/cplusplus.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/devicon/cplusplus.svg');
}

/* Media query for tablets */
@media screen and (max-width: 1024px) {
  .question-win {
    margin: 60px 80px;
  }
  .question-box {
    height: 250px;
  }
  /* Additional styles for tablets */
}

/* Media query for smaller tablets and large smartphones */
@media screen and (max-width: 768px) {
  .question-win {
    margin: 40px;
    height: 600px;
  }
  .question-box {
    height: 180px;
  }
  .tech-box{
    flex-wrap: wrap;
  }
  /* Additional styles for smaller tablets and large smartphones */
}

/* Media query for smartphones */
@media screen and (max-width: 480px) {

  .tech-box{
    flex-wrap: wrap;
  }
  .box {
    /* Adjusting styles for smaller screens */
    padding: 8px;
    font-size: 14px; /* Adjust font size for smaller screens */
}
  .question-win {
    margin: 20px;
    height: 600px;
  }
  .question-box {
    height: 120px;
  }
  /* Additional styles for smartphones */
}